<%- include('../partials/header') %>

    <!-- Main Content-->
    <div class="container col-md-10 px-4 px-lg-5 mb-5">

        <h5 class="fw-semibold">
            <svg viewBox="0 0 24 24" width="20" height="20" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path><path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path>
            </svg> 
            Edit Post
        </h5>
        <hr>

        <form method="POST" action="/posts/<%= post._id %>?_method=PUT" enctype="multipart/form-data"
            onsubmit="return confirm('Are you sure?')">

            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="<%= post.title %>" required>
            </div>

            <div class="mb-3">
                <label for="excerpt" class="form-label">Excerpt</label>
                <textarea class="form-control" name="excerpt" id="excerpt" cols="30"
                    rows="3" required><%= post.excerpt %></textarea>
            </div>

            <div class="mb-3">
                <label for="thumbnail" class="form-label">Thumbnail <small class="text-muted">(Optional)</small></label>
                <input class="form-control" type="file" name="thumbnail" id="thumbnail">
            </div>

            <div class="col-lg-4 mb-4">
                
                <img src="/img/<%= post.thumbnail %>" alt="<%= post.thumbnail %>" 
                class="w-100 h-15 img-thumbnail rounded object-fit-cover mb-2">
            
                <small class="text-muted">NOTE: Choose Thumbnail to replace.</small>
            </div>

            <div class="mb-3">
                <label for="tags" class="form-label">Tags</label>
                <input type="text" autocomplete="off" id="tags" name="tags" value="<%= post.tags %>" required>
            </div>

  
            <div class="mb-3">
                <label for="content" class="form-label">Content</label>
                <textarea name="content" id="content"><%= post.content %></textarea>
            </div>


            <button type="submit" class="btn btn-primary">Edit</button>

        </form>

    </div>


<%- include('../partials/scripts') %>
<%- include('../partials/footer') %>